@charset "UTF-8";
/* ----- imports ----- */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ----- tipografía ----- */
body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.3;
  text-align: center;
  font-size: 1.37rem;
  color: #000;
  overflow-x: hidden; }

.clr-main {
  background-color: #BDA2FF; }

.clr-secondary {
  background-color: #8B74DA; }

.recent__title {
  color: #000; }

p {
  margin: 2em 3em; }

.derechos,
.social-text {
  font-size: 0.7em; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    color: #000; }

/*----------navegacion----------*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3; }

.nav-clr {
  color: #BDA2FF; }
  .nav-clr:hover {
    color: #8B74DA; }

main {
  position: relative;
  top: 8rem;
  z-index: 2; }

footer {
  position: relative;
  top: 8rem;
  z-index: 1;
  background-color: #8B74DA; }

/* ----------images----------*/
.img-carrousel {
  height: 70vh;
  object-fit: cover;
  filter: brightness(100%); }

.hover {
  transition: 300ms; }
  .hover:hover {
    transform: scale(1.1);
    filter: 50%;
    cursor: pointer; }

.hover-alt {
  transition: 300ms; }
  .hover-alt:hover {
    transform: scale(1.1);
    filter: 100%;
    cursor: pointer; }

.img-social {
  min-width: 20px;
  max-width: 2vw; }

.cover {
  object-fit: cover; }

.img-size {
  width: 75%;
  height: auto;
  padding-top: 5rem; }

.blog__img {
  margin-top: 2vh;
  width: 60vw;
  height: 45vh;
  object-fit: cover; }

.bg-hero {
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover; }

.bg-momTales {
  background-image: url(../images/momTalesBlog.PNG);
  width: 100vw;
  height: 50vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover; }

.bg-contacto {
  background-image: url(../images/contactoBanner.png);
  background-position: center center;
  width: 100vw;
  height: 70vh;
  object-fit: cover; }

.max {
  width: 100%;
  height: 18rem; }

/* ----------containers---------- */
.no-content {
  width: 100vw;
  height: 100vh;
  opacity: 0; }

.centered {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center; }

.grid-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center; }

.basis {
  flex: 0 1 100%; }

@media only screen and (min-width: 990px) {
  .img-size {
    width: 40vw;
    margin-left: 1vw; }
  /* -----index----- */
  .img-carrousel {
    filter: brightness(30%); }
  /* -----blog----- */
  .grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .grid-center {
    grid-column: 1 / span 2; }
  .blog__img {
    grid-row: 2 / span 2;
    align-self: center;
    justify-self: center;
    width: 40vw;
    max-height: 60vh;
    object-fit: cover; }
  .reverse > img {
    grid-column-start: 2; }
  /*-----productos-----*/
  .grid-cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem; } }

@media (prefers-reduced-motion) {
  .hover, .hover-alt {
    transition: 0ms; }
    .hover:hover, .hover-alt:hover {
      transform: scale(1);
      filter: 0;
      cursor: 0; } }
