/* --limpieza general-- */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap');

*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
    }


:root {
    --clr-main: #BDA2FF;
    --clr-secondary: #8B74DA;
    --clr-accent: #FFFDE7;
    --clr-dark: #000;
    --distance-top: 8rem;
}

/* --tipografía-- */

html {
    scroll-behavior: smooth;
}

body {
   font-family: "Nunito Sans", sans-serif; 
   line-height: 1.25;
   background-color: var(--clr-main);
   text-align: center;
   font-size: 1.37rem;
   color: var(--clr-dark);
   overflow-x: hidden;
}

h2 {
    font-size: 2.5rem;
    color: var(--clr-dark);
    margin-top: 3rm;
}

.secondary-clr {
    background-color: var(--clr-secondary);
}

h3 {
    font-size: 1.8rem;
    margin: 0.5em 0.5em 0.2em;
    color: var(--clr-accent);
    font-weight: 600;
}

h4 {
    padding-inline: 1rem;
    margin-top: 1rem;
}

.blogEntrada {
    cursor: pointer;
}
.blogEntrada:hover {
    color: var(--clr-dark)
}

.recent__title {
    color: var(--clr-dark);
}

p {
    margin: 2em 3em;
}

.derechos,
.social-text {
    font-size: 0.7em;
}

a {
    text-decoration: none;
    color:var(--clr-dark);
}

a:hover {
    color: var(--clr-dark);
}


/*----------navegacion----------*/

header {
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
}

main {
    background-color: var(--clr-main);
    position: relative;
    top: 8em;
}

footer {
    position: relative;
    top: 8em;
    background-color: var(--clr-secondary);
}

/* ----------images----------*/ 

.img-carrousel {
    height: 70vh;
    object-fit: cover;
    filter:brightness(30%);
}
.hover {
    transition: ease-in-out 300ms;
}

.hover:hover {
    filter: brightness(50%);
    transform: scale(1.1);
    cursor: pointer;
}

.hover-alt {
    transition: ease-in-out 300ms;
}

.hover-alt:hover {
    transform: scale(1.1);
}

.img-social {
    min-width: 20px;
    max-width: 2vw;
}

.cover {
    object-fit: cover;
}

.img-size {
    width: 75%;
    height: auto;
    padding-top: 5rem;
}

.bg-momTales {
    background-image: url(../images/momTalesBlog.PNG);
    background-position: center center;
    width: 100vw;
    height: 70vh;
    object-fit: cover;
}
.bg-contacto {
    background-image: url(../images/contactoBanner.png);
    background-position: center center;
    width: 100vw;
    height: 70vh;
    object-fit: cover;
}

.max {
    max-height: 18rem;
}

/* ----------containers---------- */

.clr-darkpurple {
    background-color: var(--clr-secondary);
}

.centered {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
}

.grid-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}

.basis {
    flex: 0 1 100%;
}

/* ----------media----------*/
@media only screen and (min-width: 990px) {
    .img-size {
        width: 40vw;
        margin-left: 1vw;
    }

    /* -----blog----- */
    .grid-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid-center {
        grid-column: 1 / span 2;
    }

    .blog__img {
        grid-row: 2 / span 2;
        align-self: center;
        justify-self: center;
        width: 40vw;
    }
    .reverse > img {
        grid-column-start: 2;
    }

    /*-----productos-----*/

    .grid-cards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}





/* TODO:
- homologar botones (productos y contacto)
*/
