/* --limpieza general-- */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap');

*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
    }


:root {
    --clr-main: #BDA2FF;
    --clr-secondary: #8B74DA;
    --clr-accent: #FFFDE7;
    --clr-dark: #000;
    --distance-top: 0;
    --distance-top-desktop: 0;
}

/* --tipografía-- */


body {
   font-family: "Nunito Sans", sans-serif; 
   line-height: 1.25;
   background-color: var(--clr-main);
   text-align: center;
   font-size: 1.37rem;
   color: var(--clr-dark);
   overflow-x: hidden;
}

h2 {
    font-size: 2.5rem;
    color: var(--clr-dark);
    margin-top: 3rm;
}

h3 {
    font-size: 1.8rem;
    margin: 0.5em 0.5em 0.2em;
    color: var(--clr-accent);
    font-weight: 600;
}

h4 {
    padding-inline: 1rem;
    margin-top: 1rem;
}

.blogEntrada {
    cursor: pointer;
}
.blogEntrada:hover {
    color: var(--clr-dark)
}

.recent__title {
    color: var(--clr-dark);
}

p {
    margin: 2em 3em;
}

.derechos,
.social-text {
    font-size: 0.7em;
}

a {
    text-decoration: none;
    color:var(--clr-dark);
}

a:hover {
    color: var(--clr-dark);
}

/* --navegacion-- */

header {
    width: 100%;
    position: fixed;
    z-index: 9999;
}

main {
    background-color: var(--clr-main);
    position: relative;
    top: var(--distance-top);
}

/* --images --*/ 

.img-carrousel {
    height: 70vh;
    object-fit: cover;
    filter:brightness(30%);
}
.hover {
    transition: ease-in-out 300ms;
}

.hover:hover {
    filter: brightness(50%);
    transform: scale(1.1);
}

.img-social {
    width: 2vw;
}

/* --containers-- */

.clr-darkpurple {
    background-color: var(--clr-secondary);
}







/* TODO:
- homologar botones (productos y contacto)
*/
