@mixin sizes($width,$height) {
    width: $width;
    height: $height;
}


@mixin positions($position,$top){
    position: $position;
    top: $top;
}

@mixin hover-scale($transition,$transform,$filter:0, $cursor:0) {
    transition: $transition;
    &:hover {
        transform: $transform;
        filter: $filter;
        cursor: $cursor;
    }
}

